#exportPattern("^[[:alpha:]]+")
S3method(plot,swarmset)
S3method(plot,swarmtools)
S3method(print,swarmset)
S3method(print,swarmtools)
S3method(summary,swarmset)
S3method(summary,swarmtools)
S3method(swarmtools,default)
S3method(swarmset,default)
export(swarmset)
export(swarmtools)
export(create.timepoint.parser)
export(resample.swarmset)
export(set.alignment.file)
export(read.alignment.file)
export(set.tf.loss.cutoff)
import(seqinr)
